.header-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 8px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #1a1a2e;
}

.header-container h1 {
  color: #00adb5;
  font-size: 24px;
  font-weight: bold;
  margin-left: 150px;
}

.header-container ul {
  display: flex;
  list-style: none;
  gap: 50px;
  margin-right: 150px;
  padding: 0;
}

.header-container ul li {
  font-size: 18px;
}

.header-container ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.header-container ul li a:hover {
  color: #00adb5;
}

.header-container ul li a.active {
  color: #00adb5;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 10px;
}