.header-container {
    padding: 20px;           
    display: flex;
    justify-content: space-between;
    align-items: center;    
    color: white;     
    border-radius: 8px;
  }
  
  .header-container h1 {
    font-size: 24px;         
    font-weight: bold;        
    margin: 0;               
  }

  .header-container li {
    display: flex;           
    list-style: none;       
    gap: 20px;          
    margin: 0;         
    padding: 0;              
  }

  .header-container li ul {
    font-size: 18px;         
    cursor: pointer;        
    transition: color 0.3s;   
  }

  .header-container li ul:hover {
    color: #00adb5;       
  }
  