.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;            
    color: white;              
    min-height: 100vh;         
    flex-wrap: wrap;           
    border-radius: 8px;
  }

  .home-content {
    flex: 1;                 
    max-width: 600px;        
    padding: 20px;           
  }
  
  .home-content h1 {
    font-size: 36px;          
    margin-bottom: 20px;      
  }
  
  .home-content h1 span {
    color: #00adb5;           
  }

  .home-button {
    background-color: #00adb5; 
    border: none;            
    padding: 10px 20px;      
    border-radius: 20px;
    font-size: 18px;      
    cursor: pointer;          
    transition: transform 0.3s, background-color 0.3s; 
  }
  
  .home-button:hover {
    background-color: #008b9d;
    transform: scale(1.1); 
  }
  
  .home-button a {
    text-decoration: none;    
    color: white;            
    font-weight: bold;       
  }

  .image {
    flex: 1;                 
    display: flex;           
    justify-content: center;
    align-items: center;
  }
  
  .image img {
    border-radius: 50%;   
    max-width: 300px;        
    height: auto;             
    border: 5px solid #00adb5; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 768px) {
    .home-container {
      flex-direction: column; 
      text-align: center;     
    }
  
    .home-content, .image {
      max-width: 100%;       
      margin-bottom: 20px;  
    }
  
    .home-content h1 {
      font-size: 28px;       
    }
  }